.timer_view {
  display: grid;
  grid-template-areas: "name" "timer" "controls";
  grid-area: timerview;
}

.timer_view__name {
  grid-area: name;
  text-align: center;
}

.timer_view__timer {
  grid-area: timer;
  margin: auto;
}

.timer_view__controls {
  grid-area: controls;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
