.App {
  display: grid;
  grid-template-areas: "timerview" "show-tasklist";
  grid-template-rows: 80% auto;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .App {
    grid-template-areas: "timerview taskview";
    grid-template-rows: 100%;
  }
}
