.tasklist {
  border: 3px #9b9b9b solid;
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem;
  height: 100%;
}

.tasklist-container {
  height: inherit;
}

.taskview {
  grid-area: taskview;
  height: 100%;
  width: 100%;
  padding: 2rem 0;
}

.drawer {
  height: 100%;
  width: 100%;
  padding-top: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0);
  transition: transform 300ms, background-color 300ms;
}

.drawer--open {
  transform: translateY(0%);
  background-color: rgba(0, 0, 0, 0.404);
  animation: drawer-up;
  animation-duration: 500ms;
  transition: none;
}

.show-taskslist-btn {
  grid-area: show-tasklist;
  align-self: center;
  padding: 1rem;
  width: 80%;
  margin: auto;
}

@keyframes drawer-up {
  0% {
    transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0);
  }
  70% {
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.37);
  }
}

.delete-task-btn {
  padding: 0;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  float: right;
}
